.about-body {
    margin: 0px 100px 0px 100px;
}

.about-body h1 {
  text-align: center;
}

.profile-container {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.img-container img {
  width: 180px;
  border-radius: 5%;
}

.profile-details-container h2 {
  margin-bottom: 9px;
  color: rgb(176, 176, 176);
}

.profile-details-container h3 {
  margin: 0px;
}

.profile-details-container h4 {
  margin: 0px 0px 3px 0px;
  font-weight: normal;
}

.text-container {
  width: auto;
  margin-bottom: 50px;
}

.text-container p {
  text-align: justify;
}

.shimmer-text-container {
  background-color: rgb(242, 242, 242);
  height: 200px; 
  border-radius: 10px; 
  margin-bottom: 20px;
}

.shimmer-profile-container {
  display: flex;
  justify-content: center;
}

.shimmer-profile-data {
  background-color: rgb(242, 242, 242);
  width: 400px;
  height: 200px;
  border-radius: 10px; 
}