body {
  font-family: "Poppins", sans-serif;
  margin: 5px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 5px 6px rgb(169, 168, 168);
  margin-bottom: 30px;
}

.logo-container {
  margin-left: 15px;
  margin-top: 5px;
}

.logo-container img {
  width: 70px;
  border-radius: 100%;
  object-fit: cover;
}

.nav-container ul {
  list-style-type: none;
  display: flex;
}

.nav-container ul li {
  padding: 12px;
  font-size: 20px;
  color: rgb(30, 30, 30);
}


/* search container */

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0px 100px 0px 100px;
  justify-items: center;
  column-gap: 0px;
  row-gap: 10px;
}


.resturent-card-container {
  width: 230px;
  border-radius: 10px;
  transition: all 0.15s;
  display: flex;
  margin-bottom: 20px;
}

.resturent-card-container:hover {
  box-shadow: 0px 0px 8px rgb(146, 146, 146);
  cursor: pointer;
}


.resturent-img-container img {
  width: 220px;
  height: 150px;
  object-fit: cover;
  margin: 5px;
  border-radius: 5px;
}

.resturent-details-container {
  margin-left: 8px;
}

.resturent-details-container h3 {
  margin: 0px;
}

.resturent-delivery-container {
  display: flex;
  align-items: center;
}

.resturent-delivery-container img,
.resturent-rating-container img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.resturent-delivery-container p {
  margin: 0px;
  font-size: 15px;
}

.resturent-rating-container {
  display: flex;
  align-items: center;
}

.resturent-rating-container p {
  margin: 0px;
  font-size: 15px;
}

.priceCents h3 {
  margin: 0px;
  margin-left: 5px;
}

.resturent-details-container h6 {
  margin: 0px;
  margin-left: 5px;
  color: rgba(2, 6, 12, 0.6);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 160px;
}

.resturent-details-container h4 {
  margin: 0px 0px 10px 5px;
  color: rgba(2, 6, 12, 0.6);
}
