.menu-body {
  margin: 20px 250px 0px 250px;
}

.resturent-header-container {
  border-radius: 10px;
}

.res-details-container {
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(179, 179, 179, 0.834);
  border: solid 1px rgb(50, 50, 56);
}

.res-rating-price {
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border-bottom: solid 1px rgb(50, 50, 56);
  margin-bottom: 10px;
}

.res-rating-price h4 {
  font-weight: bold;
  padding: 0px 10px 0px 5px;
  margin: 0px;
  text-align: center;
}

.res-location-container {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.res-location-container h5 {
  font-weight: lighter;
  margin: 0px;
  margin-left: 5px;
}

.outlet {
  font-weight: bold;
}

.menu-ratingIcon {
  width: 25px;
  height: 25px;
  padding-left: 10px;
} 

.location-icon,
.delivery-icon {
  width: 25px;
  height: 25px;
}

.del-container {
  display: flex;
  align-items: center;
  margin: 0px 0px 10px 10px;
}

.del-container h5 {
  font-weight: bold;
  margin: 0px 0px 0px 5px;
}

.menu-title {
  margin-top: 50px;
  color: rgba(2, 6, 12, 0.6);
  text-align: center;
  letter-spacing: 2px;
}

.carousel-container {
  margin-top: 50px;
}

.carousel-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.TopPick-title h3 {
  font-weight: bold;
}

.carousel-img-container img {
  width: 250px;
  object-fit: fill;
  border-radius: 8px;
  position: relative;
}

.carousel-img-container button,
.dish-img-container button{
  position: absolute;
  z-index: 1;
  margin: -45px 0px 0px 150px;
  background-color: white;
  border: none;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(13, 151, 13);
  transition: all 0.15s;
}

.btn-price-container h5 {
  color: white;
  position: absolute;
  letter-spacing: 1px;
  margin: -40px 0px 0px 15px;
  text-shadow: 0px 0px 4px #000000;
}

.carousel-img-container button:active {
  opacity: 0.9;
}

.menuItems-container {
  margin-top: 30px;
}

.dropDown-heading-container h3,
.regular-items-container h3 {
  margin: 10px 0px 0px 0px;
  padding: 5px;
}

.dropDown-heading-container {
  border-bottom: 1px solid #d6d6d6;
  cursor: pointer;
}

.regular-items-container {
  border-bottom: 1px solid #d6d6d6;
}

.dish-container {
  display: flex;  
  justify-content: space-between;
  border-bottom: 1px solid #d6d6d6;
}

.dish-container h4,
.dish-container h3,
.dish-container h6 {
  margin:0px;
}

.dish-container h5 {
  margin: 10px 0px 10px 0px;
}

.dish-container h4 {
  margin-bottom: 10px;
}

.dish-container h6 {
  font-weight: lighter;
}

.dish-details-container {
  margin: 10px;
  width: 500px;
}

.item-description-container {
  max-width: 500px;
}

.dish-img-container {
  margin: 20px;
  position: relative;
}

.dish-img-container img,
.emptyImg-container {
  width: 130px;
  height: 130px;
  object-fit: cover;
  position: relative;
  border-radius: 10px;
  margin-bottom: 5px;
}

.dish-img-container button {
  width: 70px;
  height: 25px;
  position: absolute;
  right: 30px;
  top: 160px;
  box-shadow: 0px 0px 5px rgba(32, 32, 32, 0.895);
}

.dish-img-container button:active {
  opacity: 0.9;
}

.dishRating-container {
  display: flex;
  margin: 0px 0px 4px 0px;
}

.dishRating-container h5 {
  margin: 0px 0px 0px 4px;
}

.dishRating-Icon {
  width: 20px;
  height: 20px;
}